<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/v4-shims.css">
  <link rel="stylesheet" href="/stylesheets/tailwind.css">
  <title><%=title%></title>
  <style>
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
    body{
      font-family: 'Montserrat', sans-serif;
    }
    #content::-webkit-scrollbar {
  display: none;
    }
    html{
      scroll-behavior: smooth;
    }
    svg{
  width: 100px;
  height: 100px;
  margin: 20px;
}
  </style>
</head>
<body>
  <div id="app">
  <div v-if="seen"  class="h-screen bg-white flex justify-center w-full items-center absolute" style="z-index: 20000;">
    <!--Loader-->
<svg version="1.1" v-if="seen" id="L7" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
<path fill="#718096" d="M31.6,3.5C5.9,13.6-6.6,42.7,3.5,68.4c10.1,25.7,39.2,38.3,64.9,28.1l-3.1-7.9c-21.3,8.4-45.4-2-53.8-23.3
c-8.4-21.3,2-45.4,23.3-53.8L31.6,3.5z">
    <animateTransform 
       attributeName="transform" 
       attributeType="XML" 
       type="rotate"
       dur="2s" 
       from="0 50 50"
       to="360 50 50" 
       repeatCount="indefinite" />
</path>
<path fill="#718096" d="M42.3,39.6c5.7-4.3,13.9-3.1,18.1,2.7c4.3,5.7,3.1,13.9-2.7,18.1l4.1,5.5c8.8-6.5,10.6-19,4.1-27.7
c-6.5-8.8-19-10.6-27.7-4.1L42.3,39.6z">
    <animateTransform 
       attributeName="transform" 
       attributeType="XML" 
       type="rotate"
       dur="1s" 
       from="0 50 50"
       to="-360 50 50" 
       repeatCount="indefinite" />
</path>
<path fill="#718096" d="M82,35.7C74.1,18,53.4,10.1,35.7,18S10.1,46.6,18,64.3l7.6-3.4c-6-13.5,0-29.3,13.5-35.3s29.3,0,35.3,13.5
L82,35.7z">
    <animateTransform 
       attributeName="transform" 
       attributeType="XML" 
       type="rotate"
       dur="2s" 
       from="0 50 50"
       to="360 50 50" 
       repeatCount="indefinite" />
</path>
</svg>
<!--Loader-->
  </div>
  <div class="flex h-screen w-full">
   
    <div class="w-full h-full bg-white" >
      <div style="height: 10%;" class="bg-indigo-500 flex items-center text-2xl text-white shadow-md border py-3 pl-3">
        <i class="fas fa-language"></i>&nbsp;Text To Speech
        <input type="file" enctype="multipart/form-data" class="hidden" accept="application/pdf" id="file" ref="file" v-on:change="handleFileUpload">
        <button id="browse" class="ml-auto mr-2 bg-white text-indigo-500 active:bg-gray-200 font-bold uppercase text-sm px-6 py-2 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1" type="button" style="transition: all .15s ease">
          <i class="fas fa-file-word"></i> Browse
        </button>
      </div>

      <div class="bg-gray-100 px-3 pt-3 overflow-y-scroll relative" id="content"  style="height: 79%;" >
   
        <!--Text Card-->
          <div class=" border-gray-300 border px-6 py-4 border-0 rounded relative mb-3" v-bind:class="{'bg-red-500 text-white': todo.type==='pdf','bg-white text-gray-500': todo.type==='text'}" v-for="todo in message">
            <span class="text-xl inline-block mr-11 align-middle" v-if="todo.type==='text'">
              <button class="absolute  bg-transparent text-blue-400 text-2xl font-semibold leading-none left-0 top-0 mt-4 ml-10 outline-none focus:outline-none">
              <i class="fas fa-comment-alt"></i>
            </button>
            </span>
            
            <span class="inline-block align-middle mr-8">
              {{todo.message|capitalize }}
            </span>
            <div class="pt-4 w-full">
              <audio controls class="w-full rounded-full" v-bind:class="{' border border-gray-300':todo.type==='text'}">
                <source v-bind:src="'/audio/'+todo.src+'.mp3'" type="audio/mpeg">
              Your browser does not support the audio element.
              </audio>
            </div>
          </div>


      </div>
      <div class="w-full flex items-center text-center bg-gray-100  p-2" style="height: 11%;">
        <input type="file" enctype="multipart/form-data" class="hidden" accept="audio/*	" id="file2" ref="file2" v-on:change="audiofile">
        <button class="bg-green-500 focus:ring-2 ring-offset-1 focus:ring-green-600 focus:ring-opacity-50 text-white active:bg-green-600 font-bold uppercase text-sm px-3 py-3 rounded shadow hover:shadow-lg outline-none w-1/12 focus:outline-none mr-2 " id="audio" type="button" style="transition: all .15s ease">
          <i class="fas fa-microphone-alt"></i> Audio
        </button>

          <input type="text" v-on:keyup.enter="add" placeholder="Enter the message" class="px-3 py-3 placeholder-gray-400 text-gray-700 focus:ring-2 focus:ring-indigo-500  bg-white rounded text-sm border border-gray-400 focus:outline-none w-5/6 mr-2" v-model="text">
      
          <button class="bg-blue-500 text-white focus:ring-2 focus:ring-blue-600 focus:ring-opacity-50  active:bg-blue-600 font-bold uppercase text-sm px-3 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 w-1/12" type="button" style="transition: all .15s ease" v-on:click="add">
        <i class="fas fa-paper-plane"></i> Enter
      </button>
      
    </div>
    </div>
  </div>
</div>
</body>

<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/javascripts/vue.js"></script>
<script src="https://code.jquery.com/jquery-2.2.4.js"></script>
<script src="/javascripts/index.js"></script>
</html>

